<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FGCIJOROSystem.DAL.Properties.Settings.JOROSystemDB"
            connectionString="Data Source=10.0.0.9;Initial Catalog=FGCIJOROSystemDB;Persist Security Info=True;User ID=sa;Password=1t_r3publ1cadm1n"
            providerName="System.Data.SqlClient" />
        <add name="FGCIJOROSystem.DAL.Properties.Settings.MasterlistConnection"
            connectionString="Data Source=10.0.0.9;Initial Catalog=FGCIHRDMasterlistSystemDB;User ID=sa;Password=1t_r3publ1cadm1n"
            providerName="System.Data.SqlClient" />
        <add name="FGCIJOROSystem.DAL.Properties.Settings.PPEConnection"
            connectionString="Data Source=10.0.0.9;Initial Catalog=FGCIAccountingPPEMonitoringDB;User ID=sa;Password=1t_r3publ1cadm1n"
            providerName="System.Data.SqlClient" />
        <add name="FGCIJOROSystem.DAL.Properties.Settings.ProjectEFileConnection"
            connectionString="Data Source=10.0.0.9;Initial Catalog=FGCIProjectEFileCabinetDB;User ID=sa;Password=1t_r3publ1cadm1n"
            providerName="System.Data.SqlClient" />
        <add name="FGCIJOROSystem.DAL.Properties.Settings.ProductMasterlistConnection"
            connectionString="Data Source=10.0.0.9;Initial Catalog=FGCIProductMasterlistDB;User ID=sa;Password=1t_r3publ1cadm1n"
            providerName="System.Data.SqlClient" />
        <add name="FGCIJOROSystem.DAL.Properties.Settings.InventoryConnection"
            connectionString="Data Source=10.0.0.9;Initial Catalog=FGCILInventoryDB;User ID=sa;Password=1t_r3publ1cadm1n"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
