<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <!--  
    <add name="JOROConnection" connectionString="Data Source=10.0.0.4;Initial Catalog=FGCIJOROSystemDB;Persist Security Info=True;User ID=sa;Password=1t_r3publ1cadm1n" providerName="System.Data.SqlClient" />
    <add name="MasterlistConnection" connectionString="Data Source=10.0.0.4;Initial Catalog=FGCIHRDMasterlistSystemDB;Persist Security Info=True;User ID=sa;Password=1t_r3publ1cadm1n"  providerName="System.Data.SqlClient"/>
    <add name="PPEConnection" connectionString="Data Source=10.0.0.4;Initial Catalog=FGCIAccountingPPEMonitoringDB;Persist Security Info=True;User ID=sa;Password=1t_r3publ1cadm1n"  providerName="System.Data.SqlClient"/>
    <add name="ProjectEFileConnection" connectionString="Data Source=10.0.0.4;Initial Catalog=FGCIProjectEFileCabinetDB;Persist Security Info=True;User ID=sa;Password=1t_r3publ1cadm1n"  providerName="System.Data.SqlClient"/>
    <add name="ProductMasterlistConnection" connectionString="Data Source=10.0.0.4;Initial Catalog=FGCIProductMasterlistDB;Persist Security Info=True;User ID=sa;Password=1t_r3publ1cadm1n"  providerName="System.Data.SqlClient"/>
    <add name="InventoryConnection" connectionString="Data Source=10.0.0.4;Initial Catalog=FGCILInventoryDB;Persist Security Info=True;User ID=sa;Password=1t_r3publ1cadm1n"  providerName="System.Data.SqlClient"/>
     -->
    <!-- 
    <add name="JOROConnection" connectionString="Data Source=localhost;Initial Catalog=FGCIJOROSystemDB;Persist Security Info=True;User ID=sa;Password=123" providerName="System.Data.SqlClient" />
    <add name="MasterlistConnection" connectionString="Data Source=localhost;Initial Catalog=FGCIHRDMasterlistSystemDB;Persist Security Info=True;User ID=sa;Password=123"  providerName="System.Data.SqlClient"/>
    <add name="PPEConnection" connectionString="Data Source=localhost;Initial Catalog=FGCIAccountingPPEMonitoringDB;Persist Security Info=True;User ID=sa;Password=123"  providerName="System.Data.SqlClient"/>
    <add name="ProjectEFileConnection" connectionString="Data Source=localhost;Initial Catalog=FGCIProjectEFileCabinetDB;Persist Security Info=True;User ID=sa;Password=123"  providerName="System.Data.SqlClient"/>
    <add name="ProductMasterlistConnection" connectionString="Data Source=localhost;Initial Catalog=FGCIProductMasterlistDB;Persist Security Info=True;User ID=sa;Password=123"  providerName="System.Data.SqlClient"/>
    <add name="InventoryConnection" connectionString="Data Source=localhost;Initial Catalog=FGCILInventoryDB;Persist Security Info=True;User ID=sa;Password=123"  providerName="System.Data.SqlClient"/>
  -->
  </connectionStrings>
<appSettings>
	<add key="TelerikWinFormsThemeName" value="Fluent" /></appSettings><!--<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Telerik.WinControls.UI" publicKeyToken="5bb2a467cbec794e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2020.1.113.40" newVersion="2020.1.113.40" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.WinControls" publicKeyToken="5bb2a467cbec794e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2020.1.113.40" newVersion="2020.1.113.40" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="TelerikCommon" publicKeyToken="5bb2a467cbec794e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2020.1.113.40" newVersion="2020.1.113.40" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>--></configuration>